{% extends 'auth/base1.html' %} 
{% block title %}
<title>login</title>
{% endblock %}

{% block body %}
<div class="include-things">
    <h1 class="main-text-login">ログイン</h1>
    <form method="post" >
        <div class="forms">
            <div class="form1-login">
                <div for="" class="form-text">メールアドレス</div>
                <div class="form">
                    <input class="form-block"
                        type="text"
                        id=""
                        name="email"
                        >
                </div>
            </div>
            <div class="form2-login">
                <div for="" class="form-text">パスワード</div>
                <div class="form">
                    <input class="form-block"
                        type="password"
                        id=""
                        name="password"
                        >
                </div>
            </div>
            
            <button type="submit" class="button-block">
               ログイン
            </button>
            <div class="other-things"> 
                <div>
                    もしくは
                </div>
                <a href="{{ url_for('signup_view') }}" class="signup-button-text">
                    サインアップ
                </a>
            </div>
        </div>
        {% with messages = get_flashed_messages() %} {% if messages %}
          <div class="flashes">
            {% for message in messages %}
            <div>{{ message }}</div>
            {% endfor %}
          </div>
          {% endif %} {% endwith %}
{% endblock %}
    </form>
</div>
