{% extends 'base.html' %}{% block title %}
<title>channels</title>
{% endblock %}{% block header %}
<div class="header-menu">
    <div>チャンネル一覧</div>
    {% include 'logout-modal.html' %}      
</div>
{% endblock %}{% block body %}
<main>
    <div class="create-channel">
        <div class="create-channel-title">チャンネル作成→</div>
        <button id="openModalBtn">
            <img src="../static/img/add.PNG" class="add-img">
        </button>
        <div id="channelModal" class="modal">
            <div class="modal-content">
                <form id="channelForm" action="/channels" method="POST">
                    <h3 id="modalTitle">チャンネル作成</h3>
                    <p>チャンネル名</p>
                    <input type="text" placeholder="チャンネル名を入れてください" id="channelName" name="channelTitle">
                    <p>チャンネル概要</p>
                    <textarea id="channelSummary" placeholder="チャンネル概要を入れてください" name="channelDescription"></textarea><br>
                    <button type="submit" id="submitBtn">OK</button>
                    <button type="button" id="closeModalBtn">キャンセル</button>
                </form>
            </div>
        </div>
    </div>

    {% for channel in channels %}
        <div class="channel-title-box" data-channel-id="{{channel.id}}">
            <div class="channel-box">
                <img src="{{ url_for('static', filename='img/smile-reatekun (2).png') }}" class="channel-img">
                <a href="{{ url_for('detail', cid=channel.id) }}" class="channel-title">
                    {{ channel.name }}
                </a>
                <div class="icon-set">
                    {% if channel.uid == uid %}  <!--id名は後で確認！-->
                        <button type="button">
                            <img src="../static/img/edit-pen.png" class="edit-pen">
                        </button>
                        <button>
                            <img src="../static/img/delete-trashbox.png" class="delete-trashbox">
                        </button>
                    {% endif %}
                    <div id="deleteModal" class="modal">
                        <div class="modal-content">
                            <form id="deleteForm" method="POST">
                                <p>このチャンネルを削除してもよろしいですか？</p>
                                <button type="submit" id="confirmDeleteBtn">削除</button>
                                <button type="button" id="cancelDeleteBtn">キャンセル</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="channel-summary">
                {{channel.abstract}}
            </div>
        </div>
    {% endfor%}

</main>
<script src="{{ url_for('static', filename='js/create-channel.js') }}"></script>
<script src="{{ url_for('static', filename='js/delete-channel.js') }}"></script>
<script src="{{ url_for('static', filename='js/logout.js')}}"></script>
{% endblock %}