<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% with messages = get_flashed_messages() %} {% if messages %}
          <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %} {% endwith %}
  <form class="auth-form" method="post">
    <h1 class="auth-title">WELCOME BACK!</h1>
    <div>
      <label for="email-input">Email</label>
      <input
        type="text"
        placeholder="Email"
        name="email"
        id="email-input"
      />
    </div>
    <div>
      <label for="password-input">Password</label>
      <input
        type="password"
        placeholder="Password"
        name="password"
        id="password-input"
      />
    </div>
    <button class="auth-button pink">LOGIN</button>
  </form>
</body>
</html>